<div class="wrapper">
  <div class="box a">A</div>
  <div class="box b">B</div>
  <div class="box c">C</div>
  <div class="box d">D</div>
  <div class="box e">E</div>
  <div class="box f">B</div>
  <div class="box g">C</div>
  <div class="box h">D</div>
  <div class="box i">A</div>
  <div class="box j">B</div>
  <div class="box k">C</div>
  <div class="box l">D</div>
  <div class="box m">E</div>
</div>