  <div class="col-10 offset-1">

  <h1>Hello, <%= User.find_by_id(current_user.id).email %></h1>

  <h2 style="text-align:left">
    <% flash.each do |type, msg| %>
            <%= msg %>
    <% end %>
  </h2>
  <br>
  <h2>Active games:</h2>

  </div>

  <div id="act">

  <%= render "active", locals: {:games => @games} %>

  </div>

  <div class="col-10 offset-1">

  <h2>Available games:</h2>

  </div>

  <div id="ava">

  <%= render "available", locals: {:games => @games} %>

  </div>