
<div class="flex-container">

<div class="column" id="left-column">
</div>

<div class="wrapper">
  <div class="box a">Go to Jail</div>
  <div class="box top-property b">
    <div class="box top-property-footer">$4</div>
    <div class="box top-property-piece-area droppable"></div>
    <div class="box top-property-body">Bear Island</div>
    <div class="box top-property-header green"></div>
  </div>
  <div class="box top-property c">
    <div class="box top-property-footer">$4</div>
    <div class="box top-property-piece-area droppable"></div>
    <div class="box top-property-body">Moat Cailin</div>
    <div class="box top-property-header green"></div>
  </div>
  <div class="box top-property d">
    <div class="box top-property-footer blue"></div>
    <div class="box top-property-piece-area blue droppable"></div>
    <div class="box top-property-body blue">Chance</div>
    <div class="box top-property-header blue"></div>
  </div>
  <div class="box top-property e">
    <div class="box top-property-footer">$4</div>
    <div class="box top-property-piece-area droppable"></div>
    <div class="box top-property-body">Winter fell</div>
    <div class="box top-property-header green"></div>
  </div>
  <div class="box top-property f">
    <div class="box top-property-footer black faith">$2</div>
    <div class="box top-property-piece-area black droppable"></div>
    <div class="top-bottom-faith-space faith">The Seven</div>
  </div>
  <div class="box top-property g">
    <div class="box top-property-footer blue"></div>
    <div class="box top-property-piece-area blue droppable"></div>
    <div class="box top-property-body blue">Chance</div>
    <div class="box top-property-header blue"></div>
  </div>
  <div class="box top-property h">
    <div class="box top-property-footer">$4</div>
    <div class="box top-property-piece-area droppable"></div>
    <div class="box top-property-body">Dragon stone</div>
    <div class="box top-property-header purple"></div>
  </div>
  <div class="box top-property ii">
    <div class="box top-property-footer powderblue">Pay $2</div>
    <div class="box top-property-piece-area powderblue droppable"></div>
    <div class="box top-property-body powderblue">Iron Bank</div>
    <div class="box top-property-header powderblue"></div>
  </div>
  <div class="box top-property jj">
    <div class="box top-property-footer">$5</div>
    <div class="box top-property-piece-area droppable"></div>
    <div class="box top-property-body">Kings Landing</div>
    <div class="box top-property-header purple"></div>
  </div>
  <div class="box go">Collect $2 Salary When Passing Go</div>
  <div class="box left-property row-1">
    <div class="box left-property-footer">$3</div>
    <div class="box left-property-piece-area droppable"></div>
    <div class="box left-property-body">Casterly Rock</div>
    <div class="box left-property-header yellow"></div>
  </div>
  <div class="box middle-spacer row-1">Monopoly</div>
  <div class="box right-property row-1">
    <div class="box right-property-header brown"></div>
    <div class="box right-property-body">Hard home</div>
    <div class="box right-property-piece-area droppable"></div>
    <div class="box right-property-footer">$1</div>
  </div>
  <div class="box left-property row-2">
    <div class="box left-property-footer">$3</div>
    <div class="box left-property-piece-area droppable"></div>
    <div class="box left-property-body">The Eyrie</div>
    <div class="box left-property-header yellow"></div>
  </div>
  <div class="box middle-spacer row-2"></div>
  <div class="box right-property row-2">
    <div class="box right-property-header blue"></div>
    <div class="box right-property-body blue">Chance</div>
    <div class="box right-property-piece-area blue droppable"></div>
    <div class="box right-property-footer blue"></div>
  </div>
  <div class="box left-property row-3">
    <div class="box left-property-footer">$3</div>
    <div class="box left-property-piece-area droppable"></div>
    <div class="box left-property-body">Pyke</div>
    <div class="box left-property-header yellow"></div>
  </div>
  <div class="box middle-spacer row-3"></div>
  <div class="box right-property row-3">
    <div class="box right-property-header brown"></div>
    <div class="box right-property-body">Cave</div>
    <div class="box right-property-piece-area droppable"></div>
    <div class="box right-property-footer">$1</div>
  </div>
  <div class="box left-property row-4">
    <div class="box left-property-footer">$3</div>
    <div class="box left-property-piece-area droppable"></div>
    <div class="box left-property-body">River run</div>
    <div class="box left-property-header red"></div>
  </div>
  <div class="box middle-spacer row-4"></div>
  <div class="box right-property row-4">
    <div class="box right-property-header powderblue"></div>
    <div class="box right-property-body">Yunkai</div>
    <div class="box right-property-piece-area droppable"></div>
    <div class="box right-property-footer">$1</div>
  </div>
  <div class="box left-property row-5">
    <div class="box left-property-footer">$3</div>
    <div class="box left-property-piece-area droppable"></div>
    <div class="box left-property-body">Harren hall</div>
    <div class="box left-property-header red"></div>
  </div>
  <div class="box middle-spacer row-5">Game</div>
  <div class="box right-property row-5">
    <div class="box right-property-header black"></div>
    <div class="box right-property-body black faith">The Old Gods</div>
    <div class="box right-property-piece-area black droppable"></div>
    <div class="box right-property-footer black faith">$2</div>
  </div>
  <div class="box left-property row-6">
    <div class="box left-property-footer blue"></div>
    <div class="box left-property-piece-area blue droppable"></div>
    <div class="box left-property-body blue">Chance</div>
    <div class="box left-property-header blue"></div>
  </div>
  <div class="box middle-spacer row-6">of</div>
  <div class="box right-property row-6">
    <div class="box right-property-header powderblue"></div>
    <div class="box right-property-body">Astapor</div>
    <div class="box right-property-piece-area droppable"></div>
    <div class="box right-property-footer">$1</div>
  </div>
  <div class="box left-property row-7">
    <div class="box left-property-footer">$3</div>
    <div class="box left-property-piece-area droppable"></div>
    <div class="box left-property-body">The Twins</div>
    <div class="box left-property-header red"></div>
  </div>
  <div class="box middle-spacer row-7">Thrones</div>
  <div class="box right-property row-7">
    <div class="box right-property-header powderblue"></div>
    <div class="box right-property-body">Meereen</div>
    <div class="box right-property-piece-area droppable"></div>
    <div class="box right-property-footer">$1</div>
  </div>
  <div class="box i">Free Parking</div>
  <div class="box bottom-property j">
    <div class="box bottom-property-header orange"></div>
    <div class="box bottom-property-body">Sun spear</div>
    <div class="box bottom-property-piece-area droppable"></div>
    <div class="box bottom-property-footer">$2</div>
  </div>
  <div class="box bottom-property k">
    <div class="box bottom-property-header orange"></div>
    <div class="box bottom-property-body">Water Gardens</div>
    <div class="box bottom-property-piece-area droppable"></div>
    <div class="box bottom-property-footer">$2</div>
  </div>
  <div class="box bottom-property l">
    <div class="box bottom-property-header blue"></div>
    <div class="box bottom-property-body blue">Chance</div>
    <div class="box bottom-property-piece-area blue droppable"></div>
    <div class="box bottom-property-footer blue"></div>
  </div>
  <div class="box bottom-property m">
    <div class="box bottom-property-header orange"></div>
    <div class="box bottom-property-body">Tower of Joy</div>
    <div class="box bottom-property-piece-area droppable"></div>
    <div class="box bottom-property-footer">$2</div>
  </div>
  <div class="box bottom-property n">
    <div class="box bottom-property-header black"></div>
    <div class="box bottom-property-body black faith">The Many Faced God</div>
    <div class="box bottom-property-piece-area black droppable"></div>
    <div class="box bottom-property-footer black faith">$2</div>
  </div>
  <div class="box bottom-property o">
    <div class="box bottom-property-header brown"></div>
    <div class="box bottom-property-body">High garden</div>
    <div class="box bottom-property-piece-area droppable"></div>
    <div class="box bottom-property-footer">$2</div>
  </div>
  <div class="box bottom-property p">
    <div class="box bottom-property-header magenta"></div>
    <div class="box bottom-property-body">Old town</div>
    <div class="box bottom-property-piece-area droppable"></div>
    <div class="box bottom-property-footer">$2</div>
  </div>
  <div class="box bottom-property q">
    <div class="box bottom-property-header brown"></div>
    <div class="box bottom-property-body">Citadel of Maestors</div>
    <div class="box bottom-property-piece-area droppable"></div>
    <div class="box bottom-property-footer">$2</div>
  </div>
  <div class="box bottom-property r">
    <div class="box bottom-property-header magenta"></div>
    <div class="box bottom-property-body">Horn hill</div>
    <div class="box bottom-property-piece-area droppable"></div>
    <div class="box bottom-property-footer">$2</div>
  </div>
  <div class="box s">Jail/Just Visiting</div>
</div>

<div class="column" id="right-column">
</div>

</div>